<div>
    <h2>Trackings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tracking.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Tracking
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="order_start_date"><span translate="nadellaApp.tracking.order_start_date">Order Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="order_end_date"><span translate="nadellaApp.tracking.order_end_date">Order End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actual_delivery_date"><span translate="nadellaApp.tracking.actual_delivery_date">Actual Delivery Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Tracking.id"><span>Tracking</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tracking in vm.trackings track by tracking.id">
                    <td><a ui-sref="tracking-detail({id:tracking.id})">{{tracking.id}}</a></td>
                        <td>{{tracking.order_start_date | date:'mediumDate'}}</td>
                        <td>{{tracking.order_end_date | date:'mediumDate'}}</td>
                        <td>{{tracking.actual_delivery_date | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="order-detail({id:tracking.tracking.id})">{{tracking.tracking.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tracking-detail({id:tracking.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tracking.edit({id:tracking.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tracking.delete({id:tracking.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
